# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Agaile-com/cap-engine-maintainers

# Engine core
/src/core/           @Agaile-com/cap-engine-core-team

# Documentation
/docs/               @Agaile-com/cap-docs-team

# Tests
/tests/             @Agaile-com/cap-engine-maintainers

# CI/CD configs
/.github/           @Agaile-com/devops-team
/scripts/           @Agaile-com/devops-team
